{% extends '../layout.html' %}

{% load static %}

{% block title %}
Keyword Group Detail
{% endblock title %}

{% block content %}

<!-- Main content_news -->
      <section class='content'>
        <div class='row'>
          <div class='col-lg-12'>
            <div class='box'>


              <div class='box-header'>
                <h3 class='box-title'>KEYWORD GROUP DETAIL </h3>
              </div><!-- /.box-header -->
              <div class='box-body'>

                <table class="table table-bordered table-striped">
                  <tr>
                    <td>Keyword Group</td>
                    <td>{{ keywordgroup.keyword_group }}</td>
                  </tr>
                  <tr>
                    <td>Origin</td>
                    <td>{{ keywordgroup.keyword.keyword }}</td>
                  </tr>
                  <tr>
                    <td>Spintax</td>
                    <td>{{ keywordgroup.spintax }}</td>
                  </tr>
                </table>

              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>
<!-- /.content_news -->


{% endblock content %}