{% extends '../layout.html' %}

{% load static %}

{% block title %}
Keyword Group Index
{% endblock title %}

{% block content %}

 <!-- Main content_news -->
      <section class='content'>
        <div class='row'>
          <div class='col-lg-12'>
            <div class='box'>

              {% if messages %}

                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message | safe }}
                    </div>
                  {% endfor %}

              {% endif %}

              <div class='box-header'>
                <h3 class='box-title'>KEYWORD GROUP : {{ keyword.keyword }} <br><br>
                <a class='btn btn-primary btn-sm' href='{% url 'keywordgroup-create' %}'> Create </a>
                </h3>
              </div><!-- /.box-header -->
              <div class='box-body'>
                  <table class="table table-bordered table-striped" id="example2">
                      <thead>
                          <tr>
                              <th>Keyword Group</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                  <tbody>
                          {% if keywordgroup %}
                          {% for kg in keywordgroup %}
                          <tr>
                              <td>{{ kg.keyword_group }}</td>
                              <td>
                                  <a href="{% url 'keywordgroup-detail' kg.id %}" class="btn btn-success btn-sm">Detail</a>
                                  <a href="{% url 'keywordgroup-update' kg.id %}" class="btn btn-primary btn-sm">Update</a>
                                  <a href="{% url 'keywordgroup-delete' kg.id %}" class="btn btn-danger btn-sm">Delete</a>
                              </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <td colspan="5">Data not found.</td>
                          </tr>
                        {% endif %}
                      </tbody>
                  </table>
                  </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>
<!-- /.content_news -->

{% endblock content %}