{% extends '../base.html' %}

{% load static %}

{% block title %}
Content Index
{% endblock title %}

{% block content %}

 <!-- Main content -->
      <section class='content'>
        <div class='row'>
          <div class='col-xs-12'>
            <div class='box'>

              {% if messages %}

                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message | safe }}
                    </div>
                  {% endfor %}

              {% endif %}

              <div class='box-header'>
                <h3 class='box-title'>CONTENT LIST <br><br>
                  <a class='btn btn-primary btn-sm' href='{% url 'scrape-content' %}'> Scrape Content </a>
                  <a class='btn btn-primary btn-sm' href='#'> Import Content </a>
                </h3>
              </div><!-- /.box-header -->
              <div class='box-body'>
              <table class="table table-bordered table-striped" id="mytable">
                  <thead>
                      <tr>
                          <th>Keyword</th>
                          <th>Title</th>
                          <th>Action</th>
                      </tr>
                  </thead>
              <tbody>
                      {% if contents %}
                      {% for content in contents %}
                      <tr>
                          <td>{{ content.keyword }}</td>
                          <td>{{ content.title }}</td>
                          <td>
                              <a href="{% url 'content-detail' content.id %}" class="btn btn-success btn-sm">Detail</a>
                              <a href="{% url 'content-delete' content.id %}" class="btn btn-danger btn-sm">Delete</a>
                          </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="5">Data not found.</td>
                      </tr>
                    {% endif %}
                  </tbody>
              </table>
              <script src="<?php echo base_url('assets/js/jquery-1.11.2.min.js') ?>"></script>
              <script src="<?php echo base_url('assets/datatables/jquery.dataTables.js') ?>"></script>
              <script src="<?php echo base_url('assets/datatables/dataTables.bootstrap.js') ?>"></script>
              <script type="text/javascript">
                  $(document).ready(function () {
                      $("#mytable").dataTable();
                  });
              </script>
                  </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>
<!-- /.content -->

{% endblock content %}