{% extends '../layout.html' %}

{% load static %}

{% block title %}
Dashboard Index
{% endblock title %}

{% block content %}

<!-- Main content_news -->
    <section class="content">

      <div class="row">

        <div class="col-lg-4 col-6">

          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ email }}</h3>
              <p>Gmail</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>

        </div>

        <div class="col-lg-4 col-6">

          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ blog }}</h3>
              <p>Blog</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>

        </div>

        <div class="col-lg-4 col-6">

          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ keyword }}</h3>
              <p>Keyword</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>

        </div>

        <div class="col-lg-4 col-6">

          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ content_news }}</h3>
              <p>Content News</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>

        </div>

        <div class="col-lg-4 col-6">

          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ content_agc }}</h3>
              <p>Content AGC</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>

        </div>

        <div class="col-lg-4 col-6">

          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ campaign }}</h3>
              <p>Campaign</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>

        </div>

      </div>

    </section>
    <!-- /.content_news -->


{% endblock content %}
